.reslist{
    overflow-y: scroll;
}
.list{
    border-style: solid;
    border-color: black;
    text-decoration: none;
    margin: 10px;
}
h1{
    text-decoration: none;
}
p{
    text-decoration: none;
}
button{
    background-color: black;
    color: white;
    position: relative;
    left: 150vh;
    display: inline-block;
    border-radius: 4px;
    border: none;
    vertical-align: middle;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    bottom: 18vh;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
button:hover span {
    padding-right: 25px;
  }
  
button:hover span:after {
    opacity: 1;
    right: 0;
  }

.detailview{
  display: grid;
  grid-template-columns: 50vw 50vw;
}
.reslist1{
  grid-column: 1;
  /* overflow: auto; */
  overflow-y: scroll;
}
.resdetails{
  grid-column: 2;
  float: right;
  border-style: solid;
  border-color: black;
}